.buildpath
.settings/
*.patch
.idea/
.idea/deployment.xml
.idea/webServers.xml
.idea/workspace.xml
.idea/php.xml
.git/
*.lock
.phpintel/
.env
.phpstorm.meta.php
.DS_Store
public/devtool/
bin/php-cs-fixer
